<!-- Author: Carter Brown - all -->
<!-- Creates form for editing a notebook -->

<h1>Editing Notebook</h1>

<%= render 'form', notebook: @notebook %>

<%= link_to 'Back', notebooks_path, class: "btn btn-dark" %>
