<!-- Author: Carter Brown - all -->
<!-- Generates form for creating a new notebook -->

<h1>New Notebook</h1>

<%= render 'form', notebook: @notebook %>
<br>
<%= link_to 'Back', notebooks_path, class: "btn btn-dark" %>
