<!-- Author: Ally Chitwood - all -->
<!-- Shows a note to a user -->

<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_note_path(@note), class: "btn btn-dark" %>

<%= link_to 'Back', notes_path, class: "btn btn-dark" %>
