<!-- Author: Will Greenway -->
<head>
  <link rel="stylesheet" href="/theme_sheets/default_theme.css" type="text/css">
  <script>
      $( function() {
          $( "input" ).checkboxradio();
          $( "fieldset" ).controlgroup();
      } );
  </script>
</head>
<h1>Themes</h1>
<div class="widget">
  <fieldset id="set">
    <legend>Select a Theme: </legend>
    <label for="radio-1">Default</label>
    <input value="/theme_sheets/default_theme.css" type="radio" name="radio-1" id="radio-1">
    <label for="radio-2">Green</label>
    <input value="/theme_sheets/green_stylesheet.css" type="radio" name="radio-1" id="radio-2">
    <label for="radio-3">Blue</label>
    <input value="/theme_sheets/blue_stylesheet.css" type="radio" name="radio-1" id="radio-3">
  </fieldset>
</div>
<script>
  $(document).ready(function(){
      $("#set").change(function(){
          var sheet=$(this).val();
          $("link").attr("href",sheet);
      });
  });
</script>


<!-- Here is an example of the planned theme functionality, jquery would handle current page and theme would store choice -->
<!-- link_to 'Change theme', controller: "themes", action: "set_stylesheet", id: "green_stylesheet"%></td> !>