<!-- Author: Nathan Simpson - all -->
<!-- Creates page for playing games -->

<h1>Games</h1>
<h5>Need a break? Try relaxing and playing a minigame</h5>
</br>
<h3>Solitaire</h3>
<iframe src="http://www.freeonlinegames.com/embed/3136" width="670" height="550" frameborder="no" scrolling="no"></iframe>
</br></br></br>
<h3>Mini Golf</h3>
<iframe src="http://www.freeonlinegames.com/embed/2" width="550" height="440" frameborder="no" scrolling="no"></iframe>
</br></br></br>
<h3>Cube Crush</h3>
<iframe src="http://www.freeonlinegames.com/embed/134726" width="700" height="720" frameborder="no" scrolling="no"></iframe>
