<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1> Welcome to Bytenote! </h1>
  </div>
</div>
<br/>

<h2> Returning user? </h2>
<%= link_to('Log In', new_user_session_path, class: "btn btn-dark") %>
<br/>

<h2> New user? </h2>
<%= link_to('Sign Up', new_user_registration_path, class: "btn btn-dark") %>